<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Lizenzbedingungen</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1>Lizenzbedingungen</h1>
    <p>
        Diese Software wird Ihnen unter der Apache License, Version 2.0, zur Verfügung gestellt. Sie dürfen die Software kostenlos verwenden, kopieren, modifizieren und weitergeben, sowohl für private als auch für kommerzielle Zwecke, solange Sie die Bedingungen der Apache License, Version 2.0, einhalten. Die Nutzung erfolgt auf eigenes Risiko, ohne jegliche Garantie auf Fehlerfreiheit, ohne Anspruch auf Unterstützung und ohne Verpflichtung zu Updates. Jegliche Haftungsansprüche sind ausgeschlossen.
    </p>
    <p>
        Lizenz: Apache License, Version 2.0.<br><br>
        Dieses Produkt enthält Software, die im Rahmen des Spring Boot-Projekts <a href="http://spring.io/projects/spring-boot"> (http://spring.io/projects/spring-boot)</a> entwickelt wurde. Die Spring Boot-Komponenten stehen ebenfalls unter der Apache License, Version 2.0 <a href="http://www.apache.org/licenses/LICENSE-2.0">(http://www.apache.org/licenses/LICENSE-2.0)</a>.
    </p>
    <p>
        Alle in der App und auf unserem Blog <a href="https://tiny-tool.de">https://tiny-tool.de</a> genannten Produktnamen, Logos und Marken sind Eigentum der jeweiligen Inhaber.
    </p>
    <p>
        Unterstützt werden die Sonnen API v2, aWATTar API v1 und Tibber API v beta.
    </p>
    <p>
        Diese Software <strong>stammt nicht</strong> von aWATTar GmbH, Tibber Deutschland GmbH oder sonnen GmbH.
    </p>
    <p>
        Copyright 2024 - Guido Zeuner - <a href="https://tiny-tool.de">https://tiny-tool.de</a>
    </p>
    <p>
        ChargeControl - Release V 1.1
    </p>
    <button class="btn btn-secondary" onclick="goBack()">Zurück</button>
</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>
